@font-face {
  font-family: 'Poppins';
  src: url('@/assets/fonts/Poppins-Regular.woff2') format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: 'Poppins';
  src: url('@/assets/fonts/Poppins-Italic.woff2') format("woff2");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Poppins';
  src: url('@/assets/fonts/Poppins-SemiBold.woff2') format("woff2");
  font-weight: 600;
}
@font-face {
  font-family: 'Poppins';
  src: url('@/assets/fonts/Poppins-500.woff2') format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: 'Poppins';
  src: url('@/assets/fonts/Poppins-Bold.woff2') format("woff2");
  font-weight: bold
}
