/* Responsive Breakpoints */

$breakpoint-mobile: 729px;

$padding-left-mobile: mvw(20px);
$padding-left: vw(195px);


$primary-marigold: #F9AA29;
$primary-brown: #9E725C;
$primary-white: #FEF3E1;
$primary-cream: #FBECD5;
$primary-black: #282220;
$primary-red: #EE3724;
$primary-sky: #9DDAF7;

$neutral-70:#D5BB91;

$secondary-marigold: #DF8D06;
$secondary-white: #FFF9F0;


// font
$font-default: 'Poppins', sans-serif;
